.h1{
    font-family: 'Courier New', Courier, monospace;
}
.notifications{

}
.button{
    position: absolute;
    top: 2.3%;
    left: 60%;
    border: none;
    background-color: white;
    color: blue;

}
.button:hover{
    text-decoration: underline;
}
.flex-container{
    display: flex;
    flex-direction: row;
   
    padding-right: 50px ;
    background-color: paleturquoise;
    border-radius: 30px;
}
b:hover{
    color:blue;
}
i:hover{
    color: blue;
}